.background {
  background-color: #f6f5fb;
  //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 18px;
  border-radius: 10px;
  height: 84vh;
  border: 1px solid#00000010;

  // border: 1px solid #8776e487;
}

.accordionBox {
  padding: 5px;
  margin-bottom: "5px";
  border-radius: 10px;
}
.editIcon {
  cursor: pointer;
  color: #61b061;
  font-size: 17px;
  margin-right: 10px;
}
.submitIcon {
  cursor: pointer;
  color: #61b061;
  font-size: 20px;
  margin-right: 10px;
}
.cancelIcon {
  cursor: pointer;
  color: #ff6565;
  font-size: 17px;
}
.addIcon {
  margin-right: 10px;
  color: #61b061;
  padding: 5px;
  font-size: 27px;
  cursor: pointer;
}
