
.addIconSec:hover .addIconSec{
  background-color: green;
}
.hrGoals .p-accordion-tab{
    margin-bottom: 10px;
}
.accordionMain a{
    /* display: inline-block; */
    text-decoration: none;
}
.accordionMain .p-accordion-content{
    padding: 0px;
}
.hrGoals .accordionMain a .category-sec .iconSec .addIcon{
    color: #77b168;
    margin-right: 10px;
    cursor: pointer;
        padding: 5px;
        font-size: 27px;
}
.hrGoals .accordionMain a .category-sec .iconSec .addIcon:hover {
    background-color: #77b168;
    color: #fff;
    padding: 5px;
    font-size: 27px;
}
.hrGoals .accordionMain a .category-sec .iconSec .editIcon {
    color: #2f6024;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}
.hrGoals .accordionMain a .category-sec .iconSec .editIcon:hover{
    background-color: #2f6024;
    color: #fff;
    padding: 5px;
    font-size: 26px;
}
.hrGoals .accordionMain a .category-sec .iconSec .deleteIcon {
    color: #cf2121;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}
.hrGoals .accordionMain a .category-sec .iconSec .deleteIcon:hover {
    background-color: #cf2121 !important;
    color: white;
    padding: 5px;
    font-size: 26px;
}
.goalsTable table tbody {
    border-top: 1px solid #e3e3e3;
}
.goalsTable table tbody tr {
    border-bottom: 1px solid #e3e3e3;
}
.goalsTable table tbody tr td{
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 8px 8px 20px;
}
.goalsTable table thead tr th{
    padding: 20px 8px 20px 20px;
}
.goalsTable table tbody .p-inputtextarea{
    width: 100%;
    margin-top: 7px;
}
.goalsTable table tbody .p-inputtext{
    font-size: 13px;
        color: #626262;
        font-family: Roboto,
            Arial,
            Helvetica,
            sans-serif;
        padding: 8px;
}  
.goalsTable table tbody .p-dropdown{
    width: 100%;
        font-size: 13px;
        color: #626262;
        font-family: Roboto,
            Arial,
            Helvetica,
            sans-serif;
}
.goalsTable .p-multiselect-label-container .p-multiselect-label{
    padding: 4px 0px 4px 10px;
}
.goalsTable .p-multiselect-label-container .p-multiselect-label .p-multiselect-token{
    padding: 4px 10px;
    font-size: 13px;
    background-color: #92cc92;
        color: #626262;
        font-family: Roboto,
            Arial,
            Helvetica,
            sans-serif;
}
.goalsTable .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-icon{
        color: #872222;
}
.p-dropdown-panel ul{
    padding: 0px;
    margin: 0px;
}
.p-multiselect-panel ul{
    padding: 0px;
    margin: 0px;
}
.goalsTable table tbody td{
    padding: 7px;
}
/* .goalsTable table thead tr th,.goalsTable table tbody tr th{
    width: 25%;
} */
.p-confirm-popup{
    left: 78% !important;;
}
.roleIcon{
    font-size: 20px;
    margin-right: 10px;
    color:#07078f
}