.addIconSec:hover .addIconSec {
  background-color: #61b061;
}
.addCategory .span {
  font-size: 20px;
  color: #61b061;
  font-weight: 500;
}
.addCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 20px 0px;
}
.addCategory .p-button {
  padding: 5px 15px;
  background-color: #61b061 !important;
  border-radius: 4px;
  border: 0;
  outline: 0;
}
.addCategory .cancelBtn {
  background-color: #2f602415 !important;
  color: #2f6024 !important;
  border: 1px solid #2f602410;
}

.addCategory .p-inputtext {
  padding: 5px 10px;
  font-size: 13px;
  color: #626262;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 300px;
}
.hrGoals {
  overflow: hidden;
  /* box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 0.1); */
  border-radius: 6px;
  border: 1px solid #adadad20;
}
.hrGoals .p-accordion-tab:last-child {
  border-bottom: none !important;
  border-radius: 0 0 6px 6px;
}
.hrGoals .p-accordion-tab {
  /* margin-bottom: 10px; */
  border-bottom: 1px solid #00000010;
  border-radius: 6px 6px 0 0;
}
.hrGoals .accordionMain a {
  text-decoration: none;
  background-color: #fff;
  padding: 15px;
  color: #61b061;
  font-size: 15px;
}
.hrGoals .accordionMain a svg {
  width: 10px;
  height: 10px;
}
.hrGoals .accordionMain .p-accordion-content {
  padding: 0px;
}
.hrGoals .accordionMain a .category-sec .iconSec .addIcon {
  color: #77b168;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 27px;
}
.hrGoals .accordionMain a .category-sec .iconSec .addIcon:hover {
  background-color: #77b168;
  color: #fff;
  padding: 5px;
  font-size: 27px;
}
.hrGoals .accordionMain a .category-sec .iconSec .editIcon {
  color: #2f6024;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 26px;
}
.hrGoals .accordionMain a .category-sec .iconSec .editIcon:hover {
  background-color: #2f6024;
  color: #fff;
  padding: 5px;
  font-size: 26px;
}
.hrGoals .accordionMain a .category-sec .iconSec .deleteIcon {
  color: #cf2121;
  cursor: pointer;
  padding: 5px;
  font-size: 26px;
}
.hrGoals .accordionMain a .category-sec .iconSec .deleteIcon:hover {
  background-color: #cf2121 !important;
  color: white;
  padding: 5px;
  font-size: 26px;
}
.goalsTable table tbody {
  border-top: 1px solid #e3e3e3;
}
.goalsTable table tbody tr {
  border-bottom: 1px solid #e3e3e3;
}
.goalsTable table tbody tr td {
  border-bottom: 1px solid #e3e3e3;
  padding: 15px 8px 15px 20px;
}
.goalsTable table thead tr th {
  padding: 20px 8px 20px 20px;
}
.goalsTable table tbody .p-inputtextarea {
  width: 100%;
  margin-top: 7px;
  max-height: 37px !important   ;
}
.goalsTable table tbody .p-inputtext {
  font-size: 13px;
  color: #626262;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 8px;
}
.goalsTable table tbody .p-dropdown {
  width: 100%;
  font-size: 13px;
  color: #626262;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.goalsTable .p-multiselect-label-container .p-multiselect-label {
  padding: 7px 10px 7px 10px;
  font-size: 14px !important;
}
.goalsTable
  .p-multiselect-label-container
  .p-multiselect-label
  .p-multiselect-token {
  padding: 3px 10px;
  font-size: 13px;
  background-color: #92cc92;
  color: #626262;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.goalsTable
  .p-multiselect-label-container
  .p-multiselect-label
  .p-multiselect-token
  .p-multiselect-token-icon {
  color: #872222;
}
.p-dropdown-panel ul {
  padding: 0px;
  margin: 0px;
}
.p-multiselect-panel ul {
  padding: 0px;
  margin: 0px;
}
.goalsTable table tbody td {
  padding: 7px;
}
/* .goalsTable table thead tr th,.goalsTable table tbody tr th{
    width: 25%;
} */
.p-confirm-popup {
  left: 78% !important;
}
.roleIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #61b061;
}
