.container{
   transition: ease 0.3s;
   display: flex;
   background: #f5f5f5;
   margin: 0px 0px 18px 0px;
   padding: 15px;
   border-radius: 10px;
//    border: 1px solid #8776e487;
 }
.sample{
    padding-right: 10px;
}
.sample :hover{
    background-color: rgb(97, 176, 97) !important;
    color : white !important;
}
.goalIcon{
    font-size: 20px ;
    color: #ff7b1d  ;
}