.sample {
  padding-right: 10px;
}
.sample :hover {
  background-color: rgb(97, 176, 97) !important;
  color: white !important;
}
.goalIcon {
  font-size: 20px;
  color: #ff7b1d;
}
.AppraisalCycles {
  padding-right: 15px;
  position: relative;
  button {
    padding: 10px !important;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.background {
  background-color: #fbfbfb;
  //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 18px;
  border-radius: 10px;
  height: 100%;
  overflow: auto;
  border: 1px solid#00000010;
}
