.background {
  background-color: #f6f5fb;
  padding: 0px 18px 18px 18px;
  border-radius: 10px;
  height: 84vh;
  border: 1px solid#00000010;
}
.sample {
  padding-right: 10px;
}
.sample :hover {
  background-color: rgb(97, 176, 97) !important;
  color: white !important;
}
.goalIcon {
  font-size: 20px;
  color: #ff7b1d;
}
.AppraisalCycles {
  // padding-right: 15px;
  position: relative;
  button {
    padding: 5px 10px !important;
  }
  
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // margin-bottom: 10px;
}

