.addIcon {
  color: #114504;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 26px;
}
.editIcon {
  color: #114504;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 26px;
}
.deleteIcon {
  color: #cf2121;
  cursor: pointer;
  padding: 5px;
  font-size: 26px;
}
.addIcon:hover {
  background-color: #114504;
  color: #fff;
  padding: 5px;
  font-size: 26px;
}
.editIcon:hover {
  background-color: #114504;
  color: #fff;
  padding: 5px;
  font-size: 26px;
}
.deleteIcon:hover {
  background-color: #cf2121 !important;
  color: #fff;
  padding: 5px;
  font-size: 26px;
}
.addCategory_2n6unx9Z {
  margin: 0px !important;
  margin-bottom: 10px !important;
}
.container02_3_gt9VOi {
  margin-bottom: 7px !important;
}
.rating-container {
  display: flex;
  margin-top: 10px;
}
.rating-star {
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  width: 20px;
  height: 7px;
  background: #e3e3e3;
  margin-right: 3px;  
}
.selected{
    background: #ffc107;
}
.rating-star.active {
  background: #ffc107;
}
.rating-value {
  /* margin-left: 10px; */
  font-weight: bold;
  color: #333;
  font-size: 13px;
}
.noPadding{
    margin: 0px!important;
}
