.container{
   padding-bottom:18px;
   display: flex;
}
.container02{
    display: flex;
}
.background{
    background-color:whitesmoke;
    padding: 18px;
    border-radius: 10px;
}
#workbenchPageContent {
    max-width: 100%;
}
.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}
.AppraisalCycles{
    padding-right: 30px;
    position: relative;
}

.addCategory{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px ;
}
