.DrpYear .p-inputtext {
  padding: 4px 10px !important;
  font-size: 12px;
  color: rgb(73, 105, 105);
}
.DrpYear .p-dropdown {
  width: 100%;
}
.DrpYear {
  width: 15%;
  padding: 10px;
}
.Goals {
  display: flex;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 5px 10px !important;
  font-size: 12px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: #61b061;
}
