.DrpYear .p-inputtext{
    padding: 4px 10px !important;
    font-size: 14px;
    color: rgb(73, 105, 105);
}
.DrpYear .p-dropdown {
    width: 100%;
}
.DrpYear{
    width: 15%;
 }
 .Goals{
    display: flex;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    padding: 5px 10px !important;
    font-size: 14px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #ffffff;
    background: #61b061;
}