.container{
   padding:10px;
   display: flex;
}
#workbenchPageContent {
    max-width: 100%;
}
.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}
.AppraisalCycles{
    padding-right: 30px;
}
.addCategory{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px ;
}
