.addIconSec:hover .addIconSec{
  background-color: green;
}
.accordionMain a{
    /* display: inline-block; */
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    color: #61b061;
    font-size: 14px;
}
.accordionMain .p-accordion-content{
    padding: 0px;
}
.accordionMain a .category-sec .iconSec .addIcon{
    color: #114504;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}
.accordionMain a .category-sec .iconSec .editIcon {
    color: #114504;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}
.accordionMain a .category-sec .iconSec .deleteIcon {
    color: #cf2121;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}
.accordionMain a .category-sec .iconSec .addIcon:hover{
    background-color: #114504;
    color: white;
    padding: 5px;
    font-size: 26px;
}
.accordionMain a .category-sec .iconSec .editIcon:hover{
    background-color: #114504;
    color: white;
    padding: 5px;
    font-size: 26px;
}
.accordionMain a .category-sec .iconSec .deleteIcon:hover {
    background-color: #cf2121 !important;
    color: white;
    padding: 5px;
    font-size: 26px;
}
/* .goalsTable table thead tr th{
    background-color: #90c788;
} */

.preDefinedTable table tbody{
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    display: table-caption;
    padding: 10px 0px;
}
table thead tr th{
    padding: 20px 8px 20px 20px;
}
table tbody tr td{
    padding: 8px 8px 8px 20px;
    border-right: 1px solid #e3e3e3;
}
table tbody .p-dropdown,table tbody .p-inputtext{
    width: 100%;
    font-size: 13px;
    color: #626262;
    font-family: Roboto,
            Arial,
            Helvetica,
            sans-serif;
        font-size: 12px;
        padding: 5px;
}
/* .p-dropdown-panel ul{
    padding: 0px;
    margin: 0px;
}
.p-multiselect-panel ul{
    padding: 0px;
    margin: 0px;
}
.goalsTable table tbody tr{
    border-bottom: none;
}
.goalsTable table tbody td{
    padding: 7px;
} */
.p-column-title{
    color:#626262;
    font-family:Roboto,
        Arial,
        Helvetica,
        sans-serif;
        font-size:12px;
}
/* .goalsTable table thead tr th,.goalsTable table tbody tr th{
    width: 25%;
} */
.p-confirm-popup{
    left: 78% !important;;
}
.roleIcon{
    font-size: 20px;
    margin-right: 10px;
    color:#07078f
}
.commentIcon{
    color: #64728c;
        margin-right: 10px;
        cursor: pointer;
        padding: 5px;
        font-size: 27px;
}
.filledCommentIcon{
    color: #ff7b1d;
        margin-right: 10px;
        cursor: pointer;
        padding: 5px;
        font-size: 27px;
}
.filename{
    text-decoration: none;
    background-color: #3fd57f;
    color: #fff;
    padding: 5px 10px;
}

.p-datatable-emptymessage{
    display: none!important;
}
.noDataMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    font-family: Roboto,
            Arial,
            Helvetica,
            sans-serif;
            background-color: #fff;
            padding-bottom: 20px;
            color: #ab4747;
}
.managerGoal{
    margin: 35px 0px 25px 0px;
}
.managerGoal span{
    padding: 10px 23px;
    background-color: #fff;
    border-left: 3px solid #61b061;
    color: #61b061;
    font-size: 16px;
    font-family: Roboto,
            Arial,
            Helvetica,
            sans-serif;
}
.addMaganerGoal{
    position: absolute;
    display: flex;
    top:-23px;
    right: -8px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #66ce70;
    color: #fff;
    font-size: 18px;
}
.addMaganerGoal:hover{
    position: absolute;
    display: flex;
    top:-23px;
    right: -8px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #66ce70;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    color: #fff;
        font-size: 19px;
        font-weight: 600;
}