.editIcon {
    cursor: pointer;
    color: #61b061;
    font-size: 17px;
    margin-right: 10px;
}
.submitIcon {
    cursor: pointer;
    color: #61b061;
    font-size: 20px;
    margin-right: 10px;
}

.cancelIcon {
    cursor: pointer;
    color: "red";
    font-size: 17px;
}