/* HR Goals Style */

.addIconSec:hover .addIconSec {
    background-color: #61b061;
}

.addCategory .span {
    font-size: 20px;
    color: #61b061;
    font-weight: 500;
}

.addCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 0px 20px 0px; */
}

.addCategory .p-button {
    padding: 5px 15px;
    background-color: #61b061 !important;
    border-radius: 4px;
    border: 0;
    outline: 0;
}

.addCategory .cancelBtn {
    background-color: #2f602415 !important;
    color: #2f6024 !important;
    border: 1px solid #2f602410;
}

.addCategory .p-inputtext {
    padding: 5px 10px;
    font-size: 13px;
    color: #626262;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 300px;
}

.hrGoals {
    overflow: auto;
    height: 80%;
    border-radius: 6px;
    border: 1px solid #adadad20;
}

.hrGoals .p-accordion-tab:last-child {
    border-bottom: none !important;
    border-radius: 0 0 6px 6px;
}

.hrGoals .p-accordion-tab {
    /* margin-bottom: 10px; */
    /* border-bottom: 1px solid #00000010; */
    border-radius: 6px 6px 0 0;
}
/* .p-accordion-tab{
    margin-bottom: 10px;
} */

.hrGoals .accordionMain a {
    text-decoration: none;
    /* background-color: #fff; */
    padding: 17px 15px;
    /* color: #006c22; */
    color: #000;
    font-size: 14px;
}
.hrGoals .p-accordion-tab-active .p-accordion-header-link{
    padding: 10px 15px;
}
.noGoalSubmit .p-accordion-tab-active .p-accordion-header-link{
    padding: 17px 15px!important;
}

.hrGoals .p-accordion-tab .accordionMain a .p-accordion-toggle-icon {
    width: 14px;
    height: 14px;
    color: #000;
}
.hrGoals .p-accordion-tab-active .accordionMain a .p-accordion-toggle-icon {
    width: 14px;
    height: 14px;
    color: #61b061;
}

.hrGoals .accordionMain .p-accordion-content {
    padding: 0px;
}

.hrGoals .accordionMain a .category-sec .iconSec .addIcon {
    color: #61b061;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 27px;
    border-radius: 30px;
    transition: all 0.2s;
}

.hrGoals .accordionMain a .category-sec .iconSec .addIcon:hover {
    background-color: #61b061;
    color: #fff;
    padding: 5px;
    font-size: 27px;
}

.hrGoals .accordionMain a .category-sec .iconSec .editIcon {
    color: #555;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 28px;
    border-radius: 30px;
    transition: all 0.2s;
}

.hrGoals .accordionMain a .category-sec .iconSec .editIcon:hover {
    background-color: #555;
    color: #fff;
    padding: 5px;
    font-size: 28px;
}

.hrGoals .accordionMain a .category-sec .iconSec .deleteIcon {
    color: #cf2121;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
    border-radius: 30px;
    transition: all 0.2s;
}

.hrGoals .accordionMain a .category-sec .iconSec .deleteIcon:hover {
    background-color: #cf2121 !important;
    color: white;
    padding: 5px;
    font-size: 26px;
}

.goalsTable table tbody {
    border-top: 1px solid #e3e3e3;
}

.goalsTable table tbody tr:last-child td {
    border-bottom: 0 !important;
}

.goalsTable table tbody tr:last-child {
    border-bottom: 0 !important;
}

.goalsTable table tbody tr {
    border-bottom: 1px solid #e3e3e3;
}

.goalsTable table tbody tr td {
    padding: 20px 15px;
    border-bottom: 1px solid #e3e3e3;
    /* border-right: 1px solid #e3e3e3; */
}

.goalsTable table thead tr th {
    padding: 15px;
}

.goalsTable table tbody .p-inputtextarea {
    width: 100%;
    margin: -10px -8px -17px;
    /* max-height: 37px !important   ; */
}

.goalsTable table tbody .p-inputtext {
    font-size: 13px;
    color: #626262;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 8px;
}

.goalsTable table tbody .p-dropdown {
    width: 100%;
    font-size: 13px;
    color: #626262;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.goalsTable .p-multiselect-label-container .p-multiselect-label {
    padding: 7px 10px 7px 10px;
    font-size: 14px !important;
}

.goalsTable .p-multiselect-label-container .p-multiselect-label .p-multiselect-token {
    padding: 3px 10px;
    font-size: 13px;
    background-color: #92cc92;
    color: #626262;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.goalsTable .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-icon {
    color: #872222;
}

.p-dropdown-panel ul {
    padding: 0px;
    margin: 0px;
}

.p-multiselect-panel ul {
    padding: 0px;
    margin: 0px;
}

.goalsTable table tbody td {
    padding: 7px;
}

/* .goalsTable table thead tr th,.goalsTable table tbody tr th{
    width: 25%;
} */
.p-confirm-popup {
    left: 78% !important;
}

.roleIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #61b061;
}

.appraisalLabel {
    color: #61b061;
    font-weight: 600;
}

.p-datatable-table th{
    /* width : 11% !important; */
    color: #006c22;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 11px;
    text-align: center;
    /* background: #f6f5fb; */
}
.ms-TextField-fieldGroup  div{
    padding: 0px 8px 0px 8px;
}
.p-datatable-table td div{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgb(100, 114, 140);
    font-size: 13px;
}
.ms-CalendarDay-daySelected{
    background-color:#006c2272 !important;
}
.ms-CalendarDay-daySelected:hover{
    background-color:#006c2272 !important;
}
.ms-CalendarDay-daySelected::before{
    border: 1px solid transparent !important;
}
.ms-CalendarDay-dayIsToday{
    background-color:#006c2272 !important;
}
.p-datatable-table td{
    border-right: 1px solid #e3e3e3;
    padding: 10px;
}

.p-datatable-table td .ms-TextField-fieldGroup {

    border: 1px solid #e3e3e3 !important;
}
.p-datatable-table td .ms-TextField-fieldGroup  i{

    border: 1px solid #abeba8 !important;
}

.p-datatable-table td .ms-TextField-fieldGroup i{
    color: #006c22 !important;
}
.p-datatable-table td .ms-TextField-fieldGroup div{
    padding: 0px 25px 0px 0px!important;
}
.table-117 .dayCell-118 {
    color:rgb(100, 114, 140) !important;
}

.monthAndYear-112 span{
    color: #006c22 !important;
    padding: 6px 0px 6px !important;
}
.ms-DatePicker span{
    color: rgb(100, 114, 140) !important;
}
.AppraisalCycle span{
padding: 9px 12px 10px 10px;
    background-color: #d6f6e2;
    border: 1px solid #f6f5fb;
    border-left: 3px solid #1cbf1c;
    border-radius: 0 5px 5px 0;
    color: rgb(73, 105, 105);
    font-size: 13px;
    font-weight: 500;
}
.AppraisalCycle{
    margin: 10px 0px 25px 0px
}



































/* Manager Dashboard Style */

.DrpYear .p-inputtext {
    padding: 4px 10px !important;
    font-size: 12px;
    color: rgb(174, 148, 71);
    font-weight: 600;
}

.DrpYear .p-dropdown {
    width: 100%;
    border: 1px solid #d6f6e2 !important;
}
.DrpYear .p-dropdown-trigger svg {
    color: rgb(174, 148, 71);
}

.DrpYear {
    width: 20%;
    padding: 10px 0px;
}

.predefinedGoal {
    display: flex;
    /* margin-bottom: 10px; */
}
.selfGoal {
    display: flex;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 5px 10px !important;
    font-size: 12px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #ffffff;
    background: #61b061;
}






















/* Predefined Goals Style */

.goalName{
    width: 100%;
    font-size: 13px;
    color: #64728c;
    font-family: Roboto,
        Arial,
        Helvetica,
        sans-serif;
}
.goalName svg{
    margin: 0px 5px 2px 0px;
    font-size: 18px;
    color:#5eb670;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    border: none !important;
    /* border-bottom: 1px solid #adadad25 !important; */
}

.card {
    border: none !important;
    background-color: #f6f5fb;
}

.p-accordion-tab .p-accordion-toggle-icon {
    width: 12px;
    height: 16px;
    color: #000;
    padding-top: 2px;
}
.p-accordion-tab-active .p-accordion-toggle-icon {
    width: 12px;
    height: 16px;
    color: #61b061;
    padding-top: 2px;
}

.accordionMain .p-accordion-header-link {
    /* display: inline-block; */
    text-decoration: none;
    background-color: #f6f5fb;
    padding: 16px;
    /* color: #006c22; */
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.accordionMain .p-accordion-content {
    padding: 0px;
    border: none;
}

.accordionMain .p-accordion-header-link .category-sec .iconSec .addIcon {
    color: #114504;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}

.accordionMain .p-accordion-header-link .category-sec .iconSec .editIcon {
    color: #114504;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}

.accordionMain .p-accordion-header-link .category-sec .iconSec .deleteIcon {
    color: #cf2121;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}

.accordionMain .p-accordion-header-link .category-sec .iconSec .addIcon:hover {
    background-color: #2f6024;
    color: white;
    padding: 5px;
    font-size: 26px;
}

.accordionMain .p-accordion-header-link .category-sec .iconSec .editIcon:hover {
    background-color: #2f6024;
    color: white;
    padding: 5px;
    font-size: 26px;
}

.accordionMain .p-accordion-header-link .category-sec .iconSec .deleteIcon:hover {
    background-color: #cf2121 !important;
    color: white;
    padding: 5px;
    font-size: 26px;
}

.preDefinedTable table tbody {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    /* display: table-caption; */
    padding: 10px 0px;
}

.preDefinedTable table thead tr th {
    padding: 15px;
}

.preDefinedTable table tbody tr td {
    padding: 15px;
    border-right: 1px solid #e3e3e3;
}

.preDefinedTable table tbody .p-inputtext {
    width: 100%;
    font-size: 13px;
    color: #626262;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 5px;
}

.managerGoalTable table tbody .p-inputtext {
    width: 100%;
    color: #626262;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 5px;
    margin-top: 5px;
}

.managerGoalTable table thead tr {
    border-bottom: 1px solid #e3e3e3;
}

.managerGoalTable table thead tr th {
    padding: 15px;
    font-size: 15px;
    color: #adadad;
}

.managerGoalTable table tbody tr td {
    padding: 15px;
    border-right: 1px solid #e3e3e3;
}

.p-column-title {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #006c22;
    font-weight: 600;
    font-size: 13px;
}

.p-confirm-popup {
    left: 78% !important;
}

.roleIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #61b061;
}

.commentIcon {
    color: #64728c;
    margin: 0px 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 27px;
}

.filledCommentIcon {
    color: #ff7b1d;
    margin: 0px 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 27px;
}

.reviewDialog .p-inputtextarea {
    width: 100%;
    font-size: 14px;
    color: #626262;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 6px;
}

.fileBtn .p-button {
    padding: 3px 10px;
    background-color: #61b061;
    border: none !important;
}

.fileBtn .p-button svg {
    display: none;
}

.fileBtn .p-button span {
    font-size: 15px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
}

.reviewDialog .fileSec {
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.reviewDialog .fileBox {
    padding: 10px 10px 10px 0px;
    display: flex;
    border: 1px solid #eee;
    justify-content: space-between;
    border-radius: 6px;
    background: #fff;
    margin: 5px 0;
}

.reviewDialog .uploadedFiles {
    color: #626262;
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 10px;
    font-weight: 600;
}

/* .reviewDialog .fileBox:hover {
  box-shadow: rgb(101 94 168 / 20%) 0px 10px 50px;
  border-radius: 10px;
} */
.reviewDialog .fileBox .cancelIcon {
    cursor: pointer;
    background-color: #e4eafc;
    color: #555;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50px;
}

.reviewDialog .filename {
    text-decoration: none;
    /* background-color: #3fd57f; */
    color: #626262;
    padding: 0px 10px;
    font-size: 13px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.reviewDialog .filename svg {
    margin-right: 6px;
    color: #61b061;
}

.reviewDialog .p-dialog-content {
    padding: 20px 40px;
}

.p-datatable-emptymessage {
    display: none !important;
}

.noDataMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    user-select: none !important;
    -webkit-user-drag: none !important;
    /* font-family: Roboto, Arial, Helvetica, sans-serif; */
    /* background-color: #fff; */
    padding: 20px 0px;
    color: #a6a6a6;
    text-transform: lowercase;
}

.managerGoal {
    margin: 25px 0px 25px 0px;
}

.managerGoal span {
    padding: 9px 10px 10px 10px; 
    background-color: #d6f6e2;
    border: 1px solid #f6f5fb;
    border-left: 3px solid #1cbf1c;
    border-radius: 0 5px 5px 0;
    color: #ae9447;
    font-size: 13px;
    font-weight: 500;
}

.addMaganerGoal {
    position: absolute;
    display: flex;
    top: -35px;
    right: 0px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #66ce70;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.addMaganerGoal:hover {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: -35px;
    right: 0px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #66ce70;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.rating-container {
    display: flex;
    margin-top: 10px;
}

.rating-star {
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    width: 20px;
    height: 7px;
    background: #e3e3e3;
    margin-right: 3px;
}

.rating-star.active {
    background: #f88400;
}

.rating-value {
    font-weight: bold;
    color: #333;
    font-size: 13px;
}

.noPadding {
    margin: 0px !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
}










































/* Self Goal Style */


.addIcon {
    color: #61b061;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}

.editIcon {
    color: #61b061;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}

.deleteIcon {
    color: #cf2121;
    cursor: pointer;
    padding: 5px;
    font-size: 26px;
}

.addIcon:hover {
    background-color: #61b061;
    color: #fff;
    padding: 5px;
    font-size: 26px;
}

.editIcon:hover {
    background-color: #61b061;
    color: #fff;
    padding: 5px;
    font-size: 26px;
}

.deleteIcon:hover {
    background-color: #cf2121 !important;
    color: #fff;
    padding: 5px;
    font-size: 26px;
}

.addCategory_2n6unx9Z {
    margin: 0px !important;
    margin-bottom: 10px !important;
}

.container02_3_gt9VOi {
    margin-bottom: 7px !important;
}

.rating-container {
    display: flex;
    margin-top: 10px;
}

.rating-star {
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    width: 20px;
    height: 7px;
    background: #e3e3e3;
    margin-right: 3px;
}

.selected {
    background: #ffc107;
}

.rating-star.active {
    background: #ffc107;
}

.rating-value {
    /* margin-left: 10px; */
    font-weight: bold;
    color: #333;
    font-size: 13px;
}

.noPadding {
    margin: 0px !important;
}
















































/* main css Style.css  */

.RHSWrapper {
    height: 100%;
    position: relative;
}

.mainWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainWrapper .topBar img {
    height: 40px;
}

.mainWrapper .topBar {
    width: 100%;
    height: 60px;
    /* padding: 0 20px; */
    background-color: #fbfbfb;
    /* border-bottom: 1px solid #00000010; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentWrapper {
    width: 100%;
    /* background-color: #2d762d10; */
    background-color: #fff;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
}

/* linear-gradient(130deg, #2d6016, #00ad37) */
.p-dropdown {
    padding: 3px;
    border: 1px solid #e3e3e3 !important;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
    border-color: #e3e3e3 !important;
}

.p-multiselect {
    box-shadow: none !important;
    border-color: #e3e3e3 !important;
}

.p-multiselect:not(.p-disabled).p-focus {
    box-shadow: none !important;
    border-color: #e3e3e3 !important;
}

.p-inputtext {
    box-shadow: none !important;
    border-color: #e3e3e3 !important;
}

/* .p-accordion-tab-active .p-accordion-header-link {
    box-shadow: rgb(129 129 218 / 25%) 0px 6px 12px -2px,
        rgb(21 199 78 / 30%) 0px 3px 7px -3px;
    background-color: #fff !important;
    border-bottom: 0 !important;
    z-index: 10;
    color:#006c22 !important;
    padding: 16px;
} */
.p-accordion-tab-active .p-accordion-header-link {
    box-shadow: rgb(129 129 218 / 25%) 0px 6px 12px -2px,
        rgb(21 199 78 / 30%) 0px 3px 7px -3px;
    background-color: #fff !important;
    border-bottom: 0 !important;
    z-index: 10;
    color:#61b061 !important;
    padding: 16px;
}

.p-button:focus {
    box-shadow: none !important;
}

/* .card {
    border: 1px solid #adadad20 !important;
} */

.p-datatable-wrapper {
    border: 1px solid #adadad20;
    border-radius: 6px;
    overflow: hidden;
}

.goalsTable .p-multiselect-label-container .p-multiselect-label .p-multiselect-token {
    background-color: #eeeeee;
}

.goalsTable .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-icon {
    color: #555;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    font-size: 14px !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background: #61b061;
}

.p-checkbox.p-highlight .p-checkbox-box {
    background: #61b061;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight.p-focus {
    background: #61b061 !important;
}

.p-checkbox-input {
    border: transparent !important;
    background: transparent !important;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus-visible {
    background: #37831580 !important;
}

.DeletePopup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dltBtn {
    padding: 5px 15px !important;
    background: #c92e2a !important;
    border: none !important;
    color: #fff !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    margin: 0 5px !important;
}

.cancelBtn {
    padding: 5px 15px !important;
    background: #ffe6e5 !important;
    color: #c92e2a !important;
    border: none !important;
    font-size: 14px !important;
    border-radius: 4px !important;
    margin: 0 5px !important;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus-visible {
    background: #005b0015 !important;
}


/* commonStyle */

.appraisalTitle{
    font-family: Roboto, Arial, Helvetica, sans-serif;
        color: #64728c;
        font-size: 15px;
        text-align: center!important;
}
.adminDashboard{
    height: 84vh;
    padding: 18px;
    border-radius: 10px;
    background-color: #f6f5fb;
    border: 1px solid #00000010;
}
.adminTable .p-datatable .p-datatable-tbody>tr>td{
   text-align: center!important;
}
.adminTable .p-datatable-table th {
    /* width : 11% !important; */
    color: #006c22;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 20px;
    text-align: center;
    background: #f6f5fb;
}
.p-component:disabled,
.p-disabled{
    opacity: 1;
    color: rgb(100, 114, 140)!important;
}
