#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    padding: 0 !important;
}
.headerRow-49{
    display: none!important;
}
.commandBarWrapper{
    display: none!important;
}
