#workbenchPageContent {
  max-width: 100%;
}
/* * {
  font-family: "Inter", sans-serif !important;
} */
.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  padding: 0 !important;
}
.headerRow-49 {
  display: none !important;
}
.headerRow-106{
  display: none !important;
}
.commandBarWrapper {
  display: none !important;
}
.sp-appBar {
  display: none !important;
}
footer{
  display: none!important;
}
.ap_h_ada2ac09{
  display: none!important;
}
.b_a_beed2cf1{
  overflow-y: hidden!important;
}

